@import "head";
@import "foot";

#ahid-body {
    $other-height: $head-height + $foot-height + 1px;
    height: calc(100% - #{$other-height});
    border-left: 1px solid #DFE2E5;
    padding: 10px 10px 7px 10px;

    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

#ahid-ul {
    min-height: calc(100% - 30px);
    list-style-type: none;

    li {
        word-break: break-all;
    }
}

#ahid-message {
    word-break: break-word;
}

// content

/* avator */

.ah-avator-div .ah-avator-icon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ah-avator-div .ah-avator-link {
    margin-left: 3px;
}

.ah-avator-div {
    margin-bottom: 5px;
}

.ah-avator-item-icon {
    background: #E1E4E8;
    border-radius: 50%;
    color: #24292e;
    float: right;

    height: 26px;
    width: 26px;
    margin: -2px -2px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ///////////////////////////////////// */
/* Content */

.labeltag {
    display: inline-block;
    background: transparent;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 2px;

    line-height: 1;
}

.ah-content-pt {
    font-size: 10.5px;
    margin: 5px 0px -4px 0px;

    color: gray;
}

.ah-content-cttime {
    display: inline;
    text-align: left;
}

.ah-content-private {
    display: flex;
    float: right;
    padding: 2px 3px;
    margin-left: 2px;
}

/* ///////////////////////////////////// */

/* !!! */
.ah-sub-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
    color: gray;
}

.ah-ipr-body {
    -webkit-line-clamp: 2;
}

.ah-ipr-title,
.ah-wikipage-summary {
    -webkit-line-clamp: 1;
    padding-left: 5px;

    margin: 2px 0px 2px 1px;
    border-left: 2px solid rgb(197, 197, 197);
}

.ah-commit-div,
.ah-wikipage-div {
    -webkit-line-clamp: 1;
}

// scrollbar

#ahid-body::-webkit-scrollbar {
    width: 8px;

    &-track {
        border-radius: 4px;
    }

    &-thumb {
        background-color: rgb(168, 168, 168);
        border-radius: 4px;

        &:hover {
            background-color: gray;
        }
    }
}